ul
    li.first 
        a(href="index.html") CSS
    li 
        a(href="#") Синтаксис CSS
    li 
        a(href="#") Вставка CSS
    li 
        a(href="#") CSS текст
    li.second 
        a(href="list2.html") CSS шрифт
    li.third 
        a(href="list3.html") Блоки
                    