mixin createText1 
    p.
        CSS (англ. Cascading Style Sheets — каскадные таблицы стилей)
        — формальный язык описания внешнего вида документа, написанного
        с использованием языка разметки.
    p
        img(src="img/css1.jpg") 
        |Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования,
        |который может быть  применен к различным элементам страницы. Для присвоения какому-либо
        |элементу определенных характеристик необходимо  один раз описать этот элемент и определить
        |это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
mixin createVideo 
    video(width="600px" controls="controls")
        source(src="img/video.mp4")
mixin createText2 
    p
        |<em>font</em> - универсальное свойство, которое позволяет одновременно задать несколько характеристик шрифта и текста.<br>
        |Его Синтаксис:<br>
        |<em>[font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit</em>

    p   
        |font-style - определяет начертание шрифта: обычное, курсивное или наклонное. Когда для текста
        |установлено курсивное или наклонное начертание, браузер обращается к системе для поиска подходящего шрифта. 
        |Если заданный шрифт не найден, браузер использует специальный алгоритм для имитации нужного вида текста. Результат и 
        |качество при этом могут получиться неудовлетворительными, особенно при печати документа.<br>
        |Его Синтаксис<br>
        |<em>font-style: normal | italic | oblique | inherit</em>
mixin createImages 
    img.list2(src="img/css-probely.png")
    img.list2(src="img/css-text.png")
    img.list2(src="img/css-text-decoration.png")
mixin createTextsForMyBlock1
    p. 
        С детства увлекался искусством. Окончил Казанское художественное училище и Львовский государственный институт прикладного
        и декоративного искусства. В 1960 году вернулся в Казань вместе с женой Марией и дочерью. Сразу же начал активно заниматься
        творчеством, преподавал в изостудии при дворце культуры, работал в Татарском художественном фонде. В 1987 году принят в Союз
        художников СССР, на протяжении ряда лет был членом правления Союза художников Татарстана. Известен как многогранный художник,
        преуспевший во многих видах и жанрах творчества — в монументальном искусстве, станковой живописи и графике, искусстве плаката,
        сграффито, мозаики, гобелена. Как лично, так и в составе авторского коллектива оформил ряд общественных зданий Казани — сграффито
        на фасаде гостиницы «Волга» (1961—1963) и т. д., панно из кожи в банкетных залах гостиницы «Татарстан» и Дома татарской кулинарии
        (1967), росписи в интерьере магазина «Детский мир» (1970), мозаики в Доме культуры строителей (1972). Работал также в Набережных
        Челнах, Зеленодольске, Мензелинске.
mixin createTextsForMyBlock2
    p. 
        «Казанский феномен» — собирательное название образовавшихся в 1970-е и 1980-е годы в Казани и ряде городов Татарской АССР
        многочисленных банд, составленных из малолетних и несовершеннолетних лиц. Подростки из рабочих районов с окраин Казани объединялись
        в молодёжные банды, которые носили имена, созвучные с названиями районов или улиц, где проживали члены данных группировок. Банды
        начинали вести войну за территории в городе, устраивая массовые драки «стенка на стенку» с использованием арматуры и металлических
        шаров, которые нередко заканчивались смертельным исходом. Подобные банды сформировались почти во всех районах Казани: школьники,
        которые становились свидетелями стычек этих группировок, загорались желанием им подражать, чтобы укрепить своё влияние среди
        сверстников, и воспринимали стычки как нечто обыденное. Одной из предпосылок возникновения «казанского феномена» считается
        деятельность банды «Тяп-Ляп».
        Казанские банды отличались от аналогичных группировок гопников из других городов наличием определённой иерархии,
        масштабом своих действий и последствиями стычек. Они нередко выясняли отношения в массовых драках, совершали иные
        преступления. Большинство уличных банд прекратили своё существование с распадом СССР и коренным общественно-политическим
        переломом, некоторые из них возвысились и стали известными в Казани ОПГ. Среди подобных казанских группировок широко известны
        «Борисково»,
mixin createTextsForMyBlock3 
    p.
        «Брат. 25 лет» — книга-антология комиксов о персонажах кинодилогии «Брат» и «Брат 2» российского режиссёра Алексея Балабанова.
        Создана издательством Bubble Comics в рамках инициативы «Брат. 25 лет», устроенной кинокомпанией «СТВ» в честь юбилея с момента
        выхода оригинального фильма. Кураторами проекта выступили главный редактор издательства Bubble Comics Роман Котков и белорусский
        сценарист Алексей Замский, известный как автор серии комиксов «Игорь Гром». Официальный анонс произведения прошёл на фестивале
        поп-культуры Bubble Comics Con в декабре 2021 года. Выход комикса состоялся 27 августа 2022 года.
        В книге содержится 10 различных историй, так или иначе связанных либо с персонажами «Брата» вроде главного героя Данилы Багрова,
        либо с самим фильмом как таковым. Над каждым сюжетом работала отдельная команда из сценариста/сценаристов, художника и колориста,
        при этом истории выполнены в совершенно разных жанрах: от криминального боевика, близкого по духу к оригинальным фильмам, до киберпанка.
        Действие некоторых сюжетов разворачивается как до, так и после событий фильмов, а некоторые из них переосмысливают те или иные сцены из
        фильмов. В создании сборника участвовали как ветераны Bubble, так и автор